<div class="header">
  <h1>Sass is Syntactically Awesome Style Sheets</h1>
</div>

<div class="flexDiv">
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
  <div class="box">

  </div>
</div>